.playlist-name {
  color: #0267c1;
  width: 100%;
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 24px;
  font-family: "Balsamiq Sans";
  font-weight: 500;
  font-style: italic;
  margin: 2% 0;
}

.save-playlist {
  background-color: #efa00b;
  border: none;
  border-radius: 20px;
  width: 20%;
  min-width: 110px;
  height: 35px;
  cursor: pointer;
  font-family: "Balsamiq Sans";
  color: #0267c1;
  font-size: 14px;
  font-weight: 700;
  margin-top: 3%;
  margin-bottom: 3%;
}
